* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.titleFeedback {
  color: white;
  font-size: 50px;
  margin-bottom: 5%;
  margin-top: 5%;
  /* text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #141A40 0px 0px 20px, #141A40 0px 0px 30px, #141A40 0px 0px 40px, #141A40 0px 0px 50px, #141A40 0px 0px 75px; */
}

.messageCouldBeBetter {
  color: red;
  font-size: 40px;
  margin: auto;
}

.messageWellDone {
  color:rgb(136, 211, 24);
  font-size: 40px;
  margin: auto;
}

.scoreAssertions {
  color: red;
  font-size: 25px;
}

.btn-play-again {
  align-self: center;
  background: #80F2E7;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #80F2E7 0px 0px 20px, #80F2E7 0px 0px 30px, #80F2E7 0px 0px 40px, #80F2E7 0px 0px 50px, #80F2E7 0px 0px 75px;;
  box-sizing: border-box;
  font-weight: 700;
  height: 35px;
  margin-right: 10px;
  margin-top: 80px;
  width: 200px;
}

.btn-ranking {
  align-self: center;
  background: #80F2E7;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #80F2E7 0px 0px 20px, #80F2E7 0px 0px 30px, #80F2E7 0px 0px 40px, #80F2E7 0px 0px 50px, #80F2E7 0px 0px 75px;;
  box-sizing: border-box;
  font-weight: 700;
  height: 35px;
  width: 200px;
}
