* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-container {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #141A40 0px 0px 20px, #141A40 0px 0px 30px, #141A40 0px 0px 40px, #141A40 0px 0px 50px, #141A40 0px 0px 75px;
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  width: 30%;
}

.rightAnswer {
  align-self: center;
  background-color: rgb(63, 163, 66);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(221, 218, 218);
  box-sizing: border-box;
  color: white;
  font-weight: 700;
  height: 35px;
  margin-bottom: 8px;
  width: 200px;
}

.wrongAnswer {
  align-self: center;
  background-color: rgb(221, 61, 61);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(221, 218, 218);
  box-sizing: border-box;
  color: white;
  font-weight: 700;
  height: 35px;
  margin-bottom: 8px;
  width: 200px;
}

.btn-answer {
  align-self: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(221, 218, 218);
  box-sizing: border-box;
  font-weight: 700;
  height: 35px;
  margin-bottom: 8px;
  width: 200px;
}

.btn-next {
  align-self: center;
  background: #80F2E7;
  border: 1px solid black;
  border-radius: 5px;
  /* box-shadow: 2px 2px rgb(221, 218, 218); */
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #80F2E7 0px 0px 20px, #80F2E7 0px 0px 30px, #80F2E7 0px 0px 40px, #80F2E7 0px 0px 50px, #80F2E7 0px 0px 75px;
  box-sizing: border-box;
  font-weight: 700;
  height: 35px;
  margin-bottom: 8px;
  margin-top: 8%;
  width: 200px;
}

p {
  margin: auto;
}
